<!DOCTYPE html>
<html>
  <head>
    <title>OpenRuby2019NowFoodClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shim" %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
